@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /** Typography */
  --font-public-sans: var(--font-public-sans);

  /** Spacing */
  --spacing-500: var(--space-500); /* 2.5rem */
  --spacing-400: var(--space-400); /* 2rem */
  --spacing-300: var(--space-300); /* 1.5rem */
  --spacing-250: var(--space-250); /* 1.25rem */
  --spacing-200: var(--space-200); /* 1rem */
  --spacing-150: var(--space-150); /* 0.75 */
  --spacing-100: var(--space-100); /* 0.5rem */
  --spacing-50: var(--space-50); /* 0.25rem */

  /** Typography */
  --text-size-1: var(--font-size-1); /* 2rem */
  --text-size-2: var(--font-size-2); /* 1.25rem */
  --text-size-3: var(--font-size-3); /* 1rem */
  --text-size-4: var(--font-size-4); /* 0.875rem */
  --text-size-5: var(--font-size-5); /* 0.75rem */

  /** Line Height */
  --leading-text-leading-1: var(--leading-text-leading-1); /* 120% */
  --leading-text-leading-2: var(--leading-text-leading-2); /* 150% */

  /** Letter Spacing */
  --tracking-text-tracking: var(--text-tracking); /* 0px */

  /** Font Weight */
  --font-weight-text-bold: var(--font-weight-bold);
  --font-weight-text-regular: var(--font-weight-regular);

  /** Beige */
  --color-rosy-granite: var(--rosy-granite); /* Beige 500 */
  --color-parchment: var(--parchment); /* Beige 100 */

  /** Grey */
  --color-shadow-grey: var(--shadow-grey); /* Grey 900 */
  --color-dim-grey: var(--dim-grey); /* Grey 500 */
  --color-silver: var(--silver); /* Grey 300 */
  --color-white-smoke: var(--white-smoke); /* Grey 100 */

  /** Secondary Colors */
  --color-pine-blue: var(--pine-blue); /* Green */
  --color-desert-sand: var(--desert-sand); /* Yellow */
  --color-sky-blue-light: var(--sky-blue-light); /* Cyan */
  --color-navy-grey: var(--navy-grey); /* Navy */
  --color-rosy-copper: var(--rosy-copper); /* Red */
  --color-lavender-purpel: var(--lavender-purpel); /* Purple */

  /** Other Colors */
  --color-amethyst-smoke: var(--amethyst-smoke); /* Purple */
  --color-deep-teal: var(--deep-teal); /* Turqoise */
  --color-toffee-brown: var(--toffee-brown); /* Brown */
  --color-berry-blush: var(--berry-blush); /* Magenta */
  --color-steel-blue: var(--steel-blue); /* Blue */
  --color-cool-steel: var(--cool-steel); /* Navy Grey */
  --color-palm-leaf: var(--palm-leaf); /* Army Green */
  --color-old-gold: var(--old-gold); /* Brown */
  --color-cinnamon-wood: var(--cinnamon-wood); /* Orange */

  /** White */
  --color-white: var(--white); /* White */

  /** Shadcn Default */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /** Sidebar Shadcn Default */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  /** Typography */
  --font-public-sans: "Public Sans", sans-serif;

  /** Spacing */
  --space-500: 40px; /* 2.5rem */
  --space-400: 32px; /* 2rem */
  --space-300: 24px; /* 1.5rem */
  --space-250: 20px; /* 1.25rem */
  --space-200: 16px; /* 1rem */
  --space-150: 12px; /* 0.75 */
  --space-100: 8px; /* 0.5rem */
  --space-50: 4px; /* 0.25rem */

  /** Typography */
  --size-text-1: 32px; /* 2rem */
  --size-text-2: 20px; /* 1.25rem */
  --size-text-3: 16px; /* 1rem */
  --size-text-4: 14px; /* 0.875rem */
  --size-text-5: 12px; /* 0.75rem */

  /** Line Height */
  --leading-text-leading-1: 120%;
  --leading-text-leading-2: 150%;

  /** Letter Spacing */
  --text-tracking: 0px;

  /** Font Weight */
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  /** Beige */
  --rosy-granite: oklch(0.6588 0.012 54.4); /* Beige 500 */
  --parchment: oklch(0.9691 0.0068 67.74); /* Beige 100 */

  /** Grey */
  --shadow-grey: oklch(0.2425 0.0095 294.85); /* Grey 900 */
  --dim-grey: oklch(0.5182 0.0013 17.2); /* Grey 500 */
  --silver: oklch(0.7668 0 0); /* Grey 300 */
  --white-smoke: oklch(0.9612 0 0); /* Grey 100 */

  /** Secondary Colors */
  --pine-blue: oklch(0.5356 0.0794 190.54); /* Green */
  --desert-sand: oklch(0.8717 0.0606 63.63); /* Yellow */
  --sky-blue-light: oklch(0.794 0.0737 211.41); /* Cyan */
  --navy-grey: oklch(0.4966 0.0253 291.18); /* Navy */
  --rosy-copper: oklch(0.5754 0.1685 30.38); /* Red */
  --lavender-purpel: oklch(0.5802 0.1044 297.97); /* Purple */

  /** Other Colors */
  --amethyst-smoke: oklch(0.668 0.0969 319.73); /* Purple */
  --deep-teal: oklch(0.5599 0.0396 196.08); /* Turqoise */
  --toffee-brown: oklch(0.5536 0.0671 49.5); /* Brown */
  --berry-blush: oklch(0.5187 0.099 351.49); /* Magenta */
  --steel-blue: oklch(0.5841 0.1005 242.37); /* Blue */
  --cool-steel: oklch(0.7024 0.0203 255.57); /* Navy Grey */
  --palm-leaf: oklch(0.6298 0.0714 125.1); /* Army Green */
  --old-gold: oklch(0.7693 0.1058 94.07); /* Brown */
  --cinnamon-wood: oklch(0.6161 0.1156 43.33); /* Orange */

  /** White */
  --white: oklch(1 0 0); /* White */

  /** Shadcn Default */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  /** Sidebar Shadcn Default */
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/* .dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-public-sans);
  }
}

@layer utilities {
  .text-preset-1 {
    font-family: var(--font-public-sans);
    font-size: var(--text-size-1);
    line-height: var(--leading-text-leading-1);
    letter-spacing: var(--tracking-normal);
    font-weight: var(--font-weight-text-bold);
  }

  .text-preset-2 {
    font-family: var(--font-public-sans);
    font-size: var(--text-xl);
    line-height: var(--leading-text-leading-1);
    letter-spacing: var(--tracking-normal);
    font-weight: var(--font-weight-text-bold);
  }

  .text-preset-3 {
    font-family: var(--font-public-sans);
    font-size: var(--text-base);
    line-height: var(--leading-text-leading-2);
    letter-spacing: var(--tracking-normal);
    font-weight: var(--font-weight-text-bold);
  }

  .text-preset-4 {
    font-family: var(--font-public-sans);
    font-size: var(--text-sm);
    line-height: var(--leading-text-leading-2);
    letter-spacing: var(--tracking-normal);
    font-weight: var(--font-weight-text-regular);
  }

  .text-preset-4-bold {
    font-family: var(--font-public-sans);
    font-size: var(--text-sm);
    line-height: var(--leading-text-leading-2);
    letter-spacing: var(--tracking-normal);
    font-weight: var(--font-weight-text-bold);
  }

  .text-preset-5 {
    font-family: var(--font-public-sans);
    font-size: var(--text-xs);
    line-height: var(--leading-text-leading-2);
    letter-spacing: var(--tracking-normal);
    font-weight: var(--font-weight-text-regular);
  }

  .text-preset-5-bold {
    font-family: var(--font-public-sans);
    font-size: var(--text-xs);
    line-height: var(--leading-text-leading-2);
    letter-spacing: var(--tracking-normal);
    font-weight: var(--font-weight-text-bold);
  }
}
